<section class="grid grid-cols-12 gap-x-2.5 mt-5" id="raum">
  <div
    class="col-span-12 grid grid-cols-12 lg:flex gap-2.5 items-center mb-4 lg:mb-24"
  >
    <h2 class="heading-2 col-span-4">Raum</h2>
    <div
      class="flex-0 bg-gray-dark h-3 lg:h-6 col-span-8 section-title-anim"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-span-4 lg:col-span-3 h-[24px] bg-[#C4C4C4]">IMAGE</div>
  <div class="lg:block hidden" aria-hidden="true"></div>
  <div
    class="col-span-8 lg:col-span-6 bg-yellow p-2.5 pb-24 lg:pb-[196px] text-base gap-4 flex flex-col"
  >
    <p>
      Der Kzern ist ein mit modernsten Technologien ausgestatteter Raum zur
      Schaffung dreidimensionaler Klangräume, allgemein Immersive genannt. Es
      wurde auf dem Gelände der ehemaligen Freiburger Militärkaserne installiert
      und seit Juni 2024 ausgestattet und akustisch optimiert. Es bietet nun
      einen Hör- und Gestaltungsraum, der im Rahmen von Klangreisen Platz für
      bis zu 50 Personen oder 25 Matratzen bietet.
    </p>
    <p>
      Dieser intime Gemeinschaftsraum von 10 x 10 m eignet sich gleichermaßen
      gut für das Gefühl, einem oder mehreren Musikern im Raum zuzuhören, als
      auch für das aktive Zuhören bei der Übertragung von Mehrkanal-Soundwerken.
    </p>
  </div>
  <div
    aria-hidden="true"
    class="bg-gray-dark col-span-12 h-[34px] lg:h-[68px]"
  ></div>
</section>
