<section id="glossar" class="grid grid-cols-12 mt-5 lg:mt-0">
  <div class="col-span-12 flex gap-2.5 items-center mb-8 lg:mb-24">
    <h2 class="heading-2">Glossar</h2>
    <div
      class="flex-0 bg-gray-dark h-3 lg:h-6 section-title-anim"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-3 lg:col-span-5" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button
            class="bg-none border-none w-full text-left"
            aria-expanded="false"
            aria-controls="son-3d"
          >
            <h3 class="text-base uppercase font-semibold">3D-Sound</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base" id="son-3d">
          <p class="pb-2.5">
            ist ein Oberbegriff für Formate, mit denen sich Ton im Raum
            aufzeichnen und wiedergeben lässt. Je nach Technologie werden
            unterschiedlich viele Richtungsschallinformationen gewonnen.
            Beispielsweise kann 3D-Sound in den Formaten Ambisonics, VBAP,
            Wavefield-Synthese, Dolby Atmos-Musik, Surround-Sound (5.1, 7.1,
            8.1) oder binauralen Formaten, insbesondere für Kopfhörer, umgesetzt
            werden.
          </p>
        </div>
      </div>
    </div>
    <div
      class="hidden lg:block lg:col-span-4 bg-gray-dark"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div
      class="hidden lg:block lg:col-span-2 bg-gray-dark"
      aria-hidden="true"
    ></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button
            class="bg-none border-none w-full text-left"
            aria-expanded="false"
            aria-controls="musique-acousmatique"
          >
            <h3 class="text-base uppercase font-semibold">
              Akusmatische Musik
            </h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base" id="musique-acousmatique">
          <p class="pb-2.5">
            bezieht sich auf Stücke, die nur über Lautsprecher
            abgespielt/wiedergegeben werden können. Bei Konzerten sind die
            Schallquellen nicht sichtbar und können oft nicht identifiziert
            werden. Die Absicht akusmatischer Musik besteht oft darin, eine
            Situation des „reinen Zuhörens“ zu schaffen, in der die Ohren nicht
            durch sichtbare Personen oder Klangquellen wie Instrumente abgelenkt
            werden. Akusmatische Musik lässt sich nicht klar von
            elektroakustischer Musik unterscheiden und ist auch eine Strömung
            innerhalb der breiten Palette komponierter Musik, die unter der
            Neuen Musik zusammengefasst wird.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-4 bg-gray-dark" aria-hidden="true"></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div
      class="hidden lg:block lg:col-span-2 bg-gray-dark"
      aria-hidden="true"
    ></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button
            class="bg-none border-none w-full text-left"
            aria-expanded="false"
            aria-controls="musique-electroacoustique"
          >
            <h3 class="text-base uppercase font-semibold">
              Elektroakustische Musik
            </h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base" id="musique-electroacoustique">
          <p class="pb-2.5">
            ist ein Sammelbegriff für Kompositionen, die für die Aufführung
            ausschließlich elektronische Klangquellen nutzen – die Musik auf der
            Bühne kommt aus Lautsprechern. In den Stücken werden jedoch häufig
            aufgenommene akustische Klänge verwendet, beispielsweise
            Feldaufnahmen wie Naturgeräusche oder Instrumente. Elektroakustische
            Stücke werden in der Regel mit Noten notiert. Elektroakustische
            Musik ist Teil verschiedener Strömungen komponierter Musik, die
            unter der Bezeichnung Neue Musik zusammengefasst werden, und kann
            nicht eindeutig definiert werden.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-4 bg-gray-dark" aria-hidden="true"></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div
      class="hidden lg:block lg:col-span-2 bg-gray-dark"
      aria-hidden="true"
    ></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button
            class="bg-none border-none w-full text-left"
            aria-expanded="false"
            aria-controls="spatial"
          >
            <h3 class="text-base uppercase font-semibold">Räumlich</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base" id="spatial">
          <p class="pb-2.5">
            Raumkünste umfassen explizit den Raum und seine Wirkungen und nutzen
            in der Regel mehr als zwei Dimensionen.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-4 bg-gray-dark" aria-hidden="true"></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div
      class="hidden lg:block lg:col-span-2 bg-gray-dark"
      aria-hidden="true"
    ></div>
    <div class="col-span-2" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button
            class="bg-none border-none w-full text-left"
            aria-expanded="false"
            aria-controls="paysage-sonore"
          >
            <h3 class="text-base uppercase font-semibold">Klanglandschaft</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base" id="paysage-sonore">
          <p class="pb-2.5">
            ist die gebräuchliche Bezeichnung für den (einzigartigen)
            akustischen Charakter, der aus typischen Klangereignissen bestimmter
            Orte oder Umgebungen besteht (z. B. ein Ort in einer Stadt, ein Wald
            zu einer bestimmten Zeit, der Innenraum eines Autos…). Künstlerisch
            und im Bereich der Sound Studies auch wissenschaftlich werden
            Soundscapes genutzt, um den Zusammenhang zwischen menschlicher
            Aktivität und Veränderungen der Umgebungsgeräusche zu erforschen.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-3 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button
            class="bg-none border-none w-full text-left"
            aria-expanded="false"
            aria-controls="synthese-champ-onde"
          >
            <h3 class="text-base uppercase font-semibold">
              Wellenfeldsynthese
            </h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base" id="synthese-champ-onde">
          <p class="pb-2.5">
            ist eine räumliche Audiowiedergabemethode, mit der virtuelle
            akustische Umgebungen erstellt oder die Klangeigenschaften von
            Räumen nachgebildet werden können. Um das Format nutzen zu können,
            ist ein Ring aus vielen sehr nahe beieinander angeordneten
            Lautsprechern erforderlich. Normalerweise werden nur horizontale
            Richtungen wiedergegeben, das Klangbild wird jedoch nicht durch die
            Position des Zuhörers verzerrt und es ist sogar möglich,
            Klangobjekte im Raum wiederzugeben, deren Position genau
            wahrgenommen werden kann.
          </p>
        </div>
      </div>
    </div>
    <div
      class="hidden lg:block lg:col-span-4 bg-gray-dark"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-3 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button
            class="bg-none border-none w-full text-left"
            aria-expanded="false"
            aria-controls="medias-fixes"
          >
            <h3 class="text-base uppercase font-semibold">Feste Medien</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base" id="medias-fixes">
          <p class="pb-2.5">
            bezeichnet eine (Ton-)Aufnahme, die in einem Format vorliegt, das
            nicht mehr bearbeitet werden kann. Bei einer festen Medienaufführung
            können daher die Eigenschaften und Parameter (Lautstärke, Hall,
            Position im Raum etc.) einzelner Klangelemente/Tonspuren nicht mehr
            verändert werden.
          </p>
        </div>
      </div>
    </div>
    <div
      class="hidden lg:block lg:col-span-4 bg-gray-dark"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-3 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button
            class="bg-none border-none w-full text-left"
            aria-expanded="false"
            aria-controls="immersion"
          >
            <h3 class="text-base uppercase font-semibold">Eintauchen</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base" id="immersion">
          <p class="pb-2.5">
            bedeutet „Eintauchen“ oder „Einbetten“ (lateinisch: immersio) und
            beschreibt den Eindruck, sich in einer anderen Welt zu befinden oder
            sich der tatsächlichen umgebenden Realität bewusst zu werden.
            Immersive Erlebnisse können durch Literatur und Film, insbesondere
            aber durch Medien und Klangkunst, Spiele und virtuelle Realität
            hervorgerufen werden. Besonders starke immersive Erlebnisse bieten
            Situationen, in denen Menschen aktiv mit der virtuellen Umgebung
            interagieren können und vollständig von ihr umgeben sind.
          </p>
        </div>
      </div>
    </div>
    <div
      class="hidden lg:block lg:col-span-4 bg-gray-dark"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-2 lg:col-span-4 bg-gray-dark" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button
            class="bg-none border-none w-full text-left"
            aria-expanded="false"
            aria-controls="ambisoniques"
          >
            <h3 class="text-base uppercase font-semibold">Ambisonics</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base" id="ambisoniques">
          <p class="pb-2.5">
            ist ein Verfahren, das eine räumliche Tonaufzeichnung und
            -wiedergabe ermöglicht. Alle Richtungen können angezeigt werden. Für
            jede einzelne Schallquelle lässt sich sehr genau abbilden, woher sie
            kommt bzw. wohin sie geht, indem der Schalldruck und die
            Schallgeschwindigkeit für jede einzelne Lautsprecherposition
            berechnet werden. Ambisonics funktioniert mit beliebig vielen
            Lautsprechern.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
  </div>
</section>
