<section class="grid grid-cols-12 gap-x-2.5 mt-5 lg:mt-0" id="projekt">
  <div class="col-span-12 flex gap-2.5 items-center mb-8 lg:mb-24">
    <h2 class="heading-2">projekt</h2>
    <div
      class="flex-0 bg-gray-dark h-3 lg:h-6 section-title-anim"
      aria-hidden="true"
    ></div>
  </div>

  <div
    class="col-span-8 lg:col-span-4 flex flex-col bg-yellow p-2.5 pb-24 lg:pb-[196px] text-base gap-4"
  >
    <div>
      <h3 class="font-semibold uppercase">Teilen</h3>
      <p>
        Organisation von intimen Raumkonzerten für ein Publikum von 50 Personen.
      </p>
      <p>
        Organisation einzigartiger Erlebnisse durch räumliches Hören,
        Klangreisen im Liegestuhl oder Liegen, Installationen oder Performances.
      </p>
    </div>

    <div>
      <h3 class="font-semibold uppercase">Wohnsätze</h3>
      <p>
        Mehrtägige Begrüßung von Klangkünstlern, Musikern oder Kleingruppen.
      </p>
      <p>
        Produktionen mehrerer Konzerte oder immersiver Vorschläge während dieser
        Dauer.
      </p>
    </div>
    <div>
      <h3 class="font-semibold uppercase">Austausch</h3>
      <p>Zusammenarbeit mit ähnlichen Orten in der Schweiz und Europa.</p>
      <p>
        Integration des internationalen Indream-Netzwerks (gemeinsame Bibliothek
        immersiver Mehrkanalwerke).
      </p>
    </div>
    <p class="font-semibold uppercase">WORKSHOP, Schulung, Zusammenarbeit</p>
  </div>
  <div
    class="col-span-4 lg:col-span-8 flex flex-wrap gap-2.5 lg:flex-row flex-col justify-start lg:justify-end content-baseline"
  >
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(25%-5px)] h-[100px] lg:h-[312px]"
    >
      IMAGE
    </div>
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(37.5%-10px)] h-[150px] lg:h-[337px]"
    >
      IMAGE
    </div>
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(37.5%-5px)] h-[73px] lg:h-[215px]"
    >
      IMAGE
    </div>
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(37.5%-10px)] h-[105px] lg:h-[243px]"
    >
      IMAGE
    </div>
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(37.5%-5px)] h-[105px] lg:h-[310px]"
    >
      IMAGE
    </div>
  </div>
  <div
    class="bg-gray-dark col-span-2 lg:col-span-6 my-14 lg:my-0"
    aria-hidden="true"
  ></div>
  <div
    class="bg-yellow p-2.5 text-base col-span-10 lg:col-span-6 my-14 lg:my-0"
  >
    <p>
      Im Liegestuhl, im Liegen, im Stehen, in Bewegung, umgeben von 50
      Lautsprechern oder mit Kopfhörern freuen wir uns darauf, mit Ihnen zu
      experimentieren und diese weiteren Hörräume zu erkunden
    </p>
  </div>
</section>
