footer {
  .footerTitle {
    p {
      font-size: 268px;
      background-color: var(--bg-color);
      margin: 0;
      padding: 0;
    }
  }

  .footerAddress {
    p {
      padding: 0 0 90px;
    }
  }
}
