footer {
  .footerTitle {
    p {
      font-size: 57px;
      background-color: var(--bg-color);
      margin: 0;
      padding: 0;
    }

    @media (min-width: 992px) {
      p {
        font-size: 268px;
      }
    }
  }

  .footerAddress {
    p {
      padding: 0 0 90px;
    }
  }
}
