.headerLeftBlock {
  height: 289px;
}

@media (min-width: 992px) {
  .headerLeftBlock {
    height: 380px;
  }
}

.headerRightBlock {
  height: 241px;
}

@media (min-width: 992px) {
  .headerRightBlock {
    height: 355px;
  }
}

.headerUnderTitle {
  font-size: 20px;
  background-color: var(--bg-color);
}

@media (min-width: 992px) {
  .headerUnderTitle {
    font-size: 40px;
  }
}

.headerLine1,
.headerLine2 {
  height: 17px;
}

@media (min-width: 992px) {
  .headerLine1,
  .headerLine2 {
    height: 29px;
  }
}

.headerEndBlock {
  height: 202px;
}

@media (min-width: 992px) {
  .headerEndBlock {
    height: 404px;
  }
}
