.headerLeftBlock {
  height: 380px;
}

.headerRightBlock {
  height: 355px;
}

.headerUnderTitle {
  font-size: 40px;
  background-color: var(--bg-color);
}

.headerLine1,
.headerLine2 {
  height: 29px;
}

.headerEndBlock {
  height: 404px;
}
