.section {
  padding: 10px 0 0 0;
}

.sectionEndBlock {
  height: 34px;
}

@media (min-width: 992px) {
  .sectionEndBlock {
    height: 68px;
  }
}

.sectionEspace {
  p {
    padding-bottom: 96px;
  }

  @media (min-width: 992px) {
    p {
      padding-bottom: 192px;
    }
  }
}

.sectionAssociation {
  p {
    padding-bottom: 107px;
  }

  @media (min-width: 992px) {
    p {
      padding-bottom: 352px;
    }
  }
}

.sectionAssociationCollaboration {
  background-color: var(--bg-line-block-color);
  p {
    padding-bottom: 0;
  }
  @media (min-width: 992px) {
    p {
      padding-bottom: 105px;
    }
  }
}

.sectionAssociationText {
  background-color: var(--bg-line-block-color);
}

.sectionEvent {
  margin: 81px 0;
  h2 {
    background-color: var(--bg-line-block-color);
  }
}

@media (min-width: 992px) {
  .sectionEvent {
    margin: 200px 0;
  }
}
