.section {
  padding: 10px 0 0 0;
}

.sectionEndBlock {
  height: 68px;
}

.sectionEspace {
  p {
    padding-bottom: 192px;
  }
}

.sectionAssociation {
  p {
    padding-bottom: 352px;
  }
}

.sectionAssociationCollaboration {
  padding-bottom: 105px;
  background-color: var(--bg-line-block-color);
}

.sectionAssociationText {
  background-color: var(--bg-line-block-color);
}

.sectionEvent {
  h2 {
    background-color: var(--bg-line-block-color);
  }
  margin: 200px 0;
}
