<section class="grid grid-cols-12 gap-x-2.5 mt-5 lg:mt-0" id="association">
  <div class="col-span-12 flex gap-2.5 items-center mb-8 lg:mb-24">
    <h2 class="heading-2">Association</h2>
    <div
      class="flex-0 bg-gray-dark h-3 lg:h-6 section-title-anim"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-span-4 lg:col-span-3 h-6 bg-[#C4C4C4]">IMAGE</div>
  <div class="lg:block hidden col-span-2" aria-hidden="true"></div>
  <div
    class="col-span-8 lg:col-span-6 bg-yellow p-2.5 pb-24 lg:pb-[196px] text-base gap-4 flex flex-col"
  >
    <p>
      L’association SweetSpot a pour objectif de promouvoir la création et la
      diffusion de musiques immersives, de soutenir les productions technologies
      médiatiques innovantes ainsi que les artistes désirant inspirer un public
      diversifié.
    </p>
    <p>
      Voyages sonores immersifs, concerts avec acoustique augmentée,
      performances sonores spatialisées, soirées d’écoute d’œuvres multicanales,
      workshops sur le son immersif, résidences sont autant de pistes explorées
      afin de partager cet incroyable univers en marche que sont l’écoute et la
      création immersive.
    </p>
    <p>
      Actuellement, l’activité se partage entre recherche de fonds et accueil
      d’artistes pour préparer le lieu à des rencontres publiques régulières au
      travers de différentes propositions dès le mois de septembre 2025.
    </p>
  </div>
  <div class="lg:hidden lg:block hidden col-span-3" aria-hidden="true"></div>
  <div
    class="col-span-2 lg:col-span-3 lg:col-span-5 bg-gray-dark h-full"
    aria-hidden="true"
  ></div>
  <div class="col-span-10 lg:col-span-6 bg-yellow px-2.5 text-base">
    <h3 class="uppercase">COLLABORATIONS</h3>
    <p>
      Couleur 3, Espace 2, Festival des Musiques Sacrées de Fribourg, Ville de
      Fribourg (Tinguely 2016), Festival Belluard Bollwerk 2020 et 2022, Nouveau
      Monde, SMEM, eikon, Conservatoire de Fribourg, HEMU, Festival des Lumières
      de Morat 2021 et 2022, EPFL+ ECAL lab
    </p>
  </div>
  <div aria-hidden="true"></div>
  <div
    class="hidden lg:block lg:col-span-3 lg:col-span-5 h-full"
    aria-hidden="true"
  ></div>
  <div
    class="hidden lg:block lg:col-span-6 bg-yellow h-24 lg:h-[196px]"
    aria-hidden="true"
  ></div>
  <div
    aria-hidden="true"
    class="bg-gray-dark col-span-12 h-[34px] lg:h-[68px] mt-2.5 lg:mt-0"
  ></div>
</section>
