<section class="grid grid-cols-12 gap-x-2.5 mt-5" id="espace">
  <div
    class="col-span-12 grid grid-cols-12 lg:flex gap-2.5 items-center mb-4 lg:mb-24"
  >
    <h2 class="heading-2 col-span-4">Espace</h2>
    <div
      class="flex-1 bg-gray-dark h-3 lg:h-6 w-full col-span-8"
      aria-hidden="true"
    ></div>
  </div>
  <div class="col-span-4 lg:col-span-3 h-[24px] bg-[#C4C4C4]">IMAGE</div>
  <div class="lg:block hidden" aria-hidden="true"></div>
  <div
    class="col-span-8 lg:col-span-6 bg-yellow p-2.5 pb-24 lg:pb-[196px] text-base gap-4 flex flex-col"
  >
    <p>
      La Kzern est une salle équipée des dernières technologies pour la création
      d’espaces sonores tridimensionnels ou plus largement appelés Immersifs.
      Installée sur le site de l’ancienne caserne militaire de Fribourg, elle a
      été aménagée et optimisée acoustiquement depuis Juin 2024. Elle propose
      dorénavant un espace d’écoute et de création pouvant accueillir jusqu’à 50
      personnes ou 25 matelas dans le cadre des voyages sonores.
    </p>
    <p>
      Cet espace intime de partage de 10m sur 10m se prête aussi bien à
      l’émotion de l’écoute spatiale d’un ou plusieurs musiciens que l’écoute
      active lors de diffusions d’oeuvres sonores multicanales.
    </p>
  </div>
  <div
    aria-hidden="true"
    class="bg-gray-dark col-span-12 h-[34px] lg:h-[68px]"
  ></div>
</section>
