<section id="glossaire" class="grid grid-cols-12 mt-5 lg:mt-0">
  <div class="col-span-12 flex gap-2.5 items-center mb-8 lg:mb-24">
    <h2 class="heading-2">Glossaire</h2>
    <div
      class="flex-0 bg-gray-dark h-3 lg:h-6 section-title-anim"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-3 lg:col-span-5" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button class="bg-none border-none w-full text-left">
            <h3 class="text-base uppercase">Son 3D</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base">
          <p class="pb-2.5">
            est un terme générique désignant les formats pouvant être utilisés
            pour enregistrer et reproduire le son dans l’espace. Selon la
            technologie, différentes quantités d'informations sonores
            directionnelles sont obtenues. Par exemple, le son 3D peut être
            implémenté aux formats Ambisonics, VBAP, synthèse de champ d'onde,
            musique Dolby Atmos, son surround (5.1, 7.1, 8.1) ou binaural,
            notamment pour les écouteurs.
          </p>
        </div>
      </div>
    </div>
    <div
      class="hidden lg:block lg:col-span-4 bg-gray-dark"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div
      class="hidden lg:block lg:col-span-2 bg-gray-dark"
      aria-hidden="true"
    ></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button class="bg-none border-none w-full text-left">
            <h3 class="text-base uppercase">Musique acousmatique</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base">
          <p class="pb-2.5">
            fait référence à des morceaux qui ne peuvent être joués/reproduits
            que via des haut-parleurs. Lors des concerts, les sources sonores ne
            sont pas visibles et ne peuvent souvent pas être identifiées.
            L'intention de la musique acousmatique est souvent de créer une
            situation d'« écoute pure » dans laquelle les oreilles ne sont pas
            distraites par des personnes visibles ou des sources sonores telles
            que des instruments. La musique acousmatique ne peut pas être
            clairement distinguée de la musique électroacoustique et constitue
            également un courant au sein de la grande variété de musique
            composée regroupée sous le nom de Neue Musik.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-4 bg-gray-dark" aria-hidden="true"></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div
      class="hidden lg:block lg:col-span-2 bg-gray-dark"
      aria-hidden="true"
    ></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button class="bg-none border-none w-full text-left">
            <h3 class="text-base uppercase">Musique électroacoustique</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base">
          <p class="pb-2.5">
            est un terme collectif désignant les compositions qui utilisent
            uniquement des sources sonores électroniques pour la performance –
            la musique sur scène provient de haut-parleurs. Cependant, des sons
            acoustiques enregistrés sont souvent utilisés dans les pièces, par
            exemple des enregistrements sur le terrain tels que des sons de la
            nature ou des instruments. Les pièces électroacoustiques sont
            généralement notées à l’aide de partitions. La musique
            électroacoustique fait partie de divers courants de musique composée
            regroupés sous le nom de New Music et ne peut être clairement
            définie.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-4 bg-gray-dark" aria-hidden="true"></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div
      class="hidden lg:block lg:col-span-2 bg-gray-dark"
      aria-hidden="true"
    ></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button class="bg-none border-none w-full text-left">
            <h3 class="text-base uppercase">Spatial</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base">
          <p class="pb-2.5">
            Les arts spatiaux incluent explicitement l'espace et ses effets et
            utilisent généralement plus de deux dimensions.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-2 lg:col-span-4 bg-gray-dark" aria-hidden="true"></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div
      class="hidden lg:block lg:col-span-2 bg-gray-dark"
      aria-hidden="true"
    ></div>
    <div class="col-span-2" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button class="bg-none border-none w-full text-left">
            <h3 class="text-base uppercase">Paysage sonore</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base">
          <p class="pb-2.5">
            est le terme commun désignant le caractère acoustique (unique)
            constitué d'événements sonores typiques de certains lieux ou
            environnements (par exemple un lieu dans une ville, une forêt à un
            certain moment, l'intérieur d'une voiture…). Sur le plan artistique
            et scientifique dans le domaine des études sonores, les paysages
            sonores sont utilisés pour explorer la relation entre l'activité
            humaine et les changements dans les sons environnementaux.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-3 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button class="bg-none border-none w-full text-left">
            <h3 class="text-base uppercase">Synthèse de champ d'onde</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base">
          <p class="pb-2.5">
            est une méthode de reproduction audio spatiale qui peut être
            utilisée pour créer des environnements acoustiques virtuels ou
            recréer les caractéristiques sonores des pièces. Pour utiliser ce
            format, il faut un anneau de nombreux haut-parleurs disposés très
            près les uns des autres. Habituellement, seules les directions
            horizontales sont reproduites, mais l'image sonore n'est pas
            déformée par la position de la personne qui écoute et il est même
            possible de reproduire des objets sonores dans la pièce dont
            l'emplacement peut être perçu avec précision.
          </p>
        </div>
      </div>
    </div>
    <div
      class="hidden lg:block lg:col-span-4 bg-gray-dark"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-3 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button class="bg-none border-none w-full text-left">
            <h3 class="text-base uppercase">Médias fixes</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base">
          <p class="pb-2.5">
            décrit un enregistrement (son) dont le format ne peut plus être
            édité. Dans une performance multimédia fixe, les caractéristiques et
            les paramètres (volume, réverbération, position dans l'espace, etc.)
            des éléments sonores/pistes sonores individuels ne peuvent donc plus
            être modifiés.
          </p>
        </div>
      </div>
    </div>
    <div
      class="hidden lg:block lg:col-span-4 bg-gray-dark"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-3 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button class="bg-none border-none w-full text-left">
            <h3 class="text-base uppercase">Immersion</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base">
          <p class="pb-2.5">
            signifie « immersion » ou « intégration » (latin : immersio) et
            décrit l'impression d'être dans un autre monde ou un autre cadre et
            de perdre conscience de la réalité environnante. Les expériences
            immersives peuvent être évoquées par la littérature et le cinéma,
            mais surtout par les arts médiatiques et sonores, les jeux et la
            réalité virtuelle. Des expériences immersives particulièrement
            fortes sont offertes par des situations dans lesquelles les
            personnes peuvent interagir activement avec l'environnement virtuel
            et en sont complètement entourées.
          </p>
        </div>
      </div>
    </div>
    <div
      class="hidden lg:block lg:col-span-4 bg-gray-dark"
      aria-hidden="true"
    ></div>
  </div>

  <div class="col-span-12 grid grid-cols-12">
    <div class="col-span-2 lg:col-span-4 bg-gray-dark" aria-hidden="true"></div>
    <div class="col-span-9 lg:col-span-3 accordion">
      <div class="bg-yellow pt-2.5 px-2.5">
        <div class="w-full flex justify-between items-center pb-2.5 label">
          <button class="bg-none border-none w-full text-left">
            <h3 class="text-base uppercase">Ambisoniques</h3>
          </button>
          <span class="arrow">↓</span>
        </div>
        <div class="content text-base">
          <p class="pb-2.5">
            est une méthode qui permet l’enregistrement et la reproduction
            spatiale du son. Toutes les directions peuvent être affichées. Pour
            chaque source sonore individuelle, il est possible de cartographier
            très précisément d'où elle vient et où elle va en calculant la
            pression acoustique et la vitesse du son pour chaque position
            d'enceinte individuelle. Ambisonics fonctionne avec n’importe quel
            nombre de haut-parleurs.
          </p>
        </div>
      </div>
    </div>
    <div class="col-span-1 lg:col-span-5 bg-gray-dark" aria-hidden="true"></div>
  </div>
</section>
