<section class="grid grid-cols-12 gap-x-2.5 mt-5 lg:mt-0" id="projet">
  <div class="col-span-12 flex gap-2.5 items-center mb-8 lg:mb-24">
    <h2 class="heading-2">projet</h2>
    <div
      class="flex-0 bg-gray-dark h-3 lg:h-6 section-title-anim"
      aria-hidden="true"
    ></div>
  </div>

  <div
    class="col-span-8 lg:col-span-4 flex flex-col bg-yellow p-2.5 pb-24 lg:pb-[196px] text-base gap-4"
  >
    <div>
      <h3 class="font-semibold uppercase">Partage</h3>
      <p>
        Organisation de concerts intimistes spatialisés pour un public de 50
        personnes.
      </p>
      <p>
        Organisation d’expériences uniques au travers d’écoutes spatialisées, de
        voyages sonores en chaises longues ou couchés, d’installations ou de
        performances.
      </p>
    </div>

    <div>
      <h3 class="font-semibold uppercase">Résidences</h3>
      <p>
        Accueil d’artiste sonore, de musicien ou de petite formation sur
        plusieurs jours.
      </p>
      <p>
        Productions de plusieurs concerts ou propositions immersives pendant
        cette durée.
      </p>
    </div>
    <div>
      <h3 class="font-semibold uppercase">Echange</h3>
      <p>Collaboration avec des lieux similaires en Suisse et en Europe.</p>
      <p>
        Intégration du réseau international Indream (bibliothèque partagée
        d’oeuvres immersives multicanales).
      </p>
    </div>
    <p class="font-semibold uppercase">WORKSHOP, FORMATIONS, COLLABORATIONS</p>
  </div>
  <div
    class="col-span-4 lg:col-span-8 flex flex-wrap gap-2.5 lg:flex-row flex-col justify-start lg:justify-end content-baseline"
  >
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(25%-5px)] h-[100px] lg:h-[312px]"
    >
      IMAGE
    </div>
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(37.5%-10px)] h-[150px] lg:h-[337px]"
    >
      IMAGE
    </div>
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(37.5%-5px)] h-[73px] lg:h-[215px]"
    >
      IMAGE
    </div>
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(37.5%-10px)] h-[105px] lg:h-[243px]"
    >
      IMAGE
    </div>
    <div
      class="bg-[#C4C4C4] w-full lg:w-[calc(37.5%-5px)] h-[105px] lg:h-[310px]"
    >
      IMAGE
    </div>
  </div>
  <div
    class="bg-gray-dark col-span-2 lg:col-span-6 my-14 lg:my-0"
    aria-hidden="true"
  ></div>
  <div
    class="bg-yellow p-2.5 text-base col-span-10 lg:col-span-6 my-14 lg:my-0"
  >
    <p>
      En chaises longues, allongé-e-s, debout, en mouvement, entouré-e-s de 50
      hauts parleurs ou au casque, nous nous réjouissons d’expérimenter et de
      parcourir avec vous ces autres espaces d’écoute
    </p>
  </div>
</section>
