* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ES Klarheit Kurrent", "sans serif";
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

a {
  @apply text-black hover:text-gray-dark transition-colors;
}

img,
video {
  display: block;
  width: 100%;
}
