@font-face {
  font-family: "ES Klarheit Kurrent";
  src: url("../fonts/ESKlarheitKurrent-Bd.woff") format("woff"),
    url("../fonts/ESKlarheitKurrent-Bd.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "ES Klarheit Kurrent";
  src: url("../fonts/ESKlarheitKurrent-Smbd.woff") format("woff"),
    url("../fonts/ESKlarheitKurrent-Smbd.woff2") format("woff2");
  font-weight: 500;
}
