.l-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 100px;

  .l-title-block {
    width: 100%;
    height: 12px;
  }

  @media (min-width: 992px) {
    .l-title-block {
      height: 24px;
    }
  }

  h2 {
    margin: 0 5px 0 0;
  }
}

.container {
  max-width: 1780px !important;

  @media screen and (max-width: 1800px) {
    .container {
      max-width: calc(100vw - 20px) !important;
    }
  }
}
